<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	<b>Lista de mensajes</b>
	<a href="/mensajes/añadir">Añadir mensaje</a>
	<table border="1">
	<thead>
		<tr>
		 <th>pais</th>
		 <th>mensaje</th>
		 <th>acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="item :${mensajes}">
			<th th:text="${item.pais}"></th>
			<th th:text="${item.mensajes}"></th>
			<th>
				<a th:href="@{'/mensajes/' + ${item.id}}">Editar</a>
			</th>
		</tr>
	</tbody>
	</table>

</body>
</html>
